<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <link rel="stylesheet" href="../public/css/bootstrap.css">
    <link rel="stylesheet" href="../public/css/base.css">

    <script src="../public/js/jquery-3.1.1.js"></script>
    <script src="../public/js/bootstrap.min.js"></script>
</head>