<!DOCTYPE html>
<html lang="en">
<% include head.ejs %>
<body>
<div class="container">
    <div class="row">
        <video class="center-block" width="80%" autoplay controls="true"
               src="http://61.152.149.45/m3u8/cctv1HD_1800/desc.m3u8?stream_id=cctv1HD_1800&path=61.152.149.57,114.80.215.53&amltag=8883&mltag=8883&platid=10&splatid=1001&qos=3&fcheck=0&uid=1918390227.rp&keyitem=dpoOd-l3AnupIUuBI8VtFwmKzWltcfnZpngeV5Yo3I1Oleh6yGrbVeKRoRQ.&ntm=1486630800&nkey2=f474a69ebd7c959c2d1defddaa1cc895&nkey=0d3f24cb9a3ecd8274097de0fcd79ca2&tag=live&video_type=m3u8&useloc=0&mslice=3&uidx=0&errc=0&gn=1094&lrtmcd=102&buss=8883&cips=114.88.79.211&geo=CN-9-126-1&tmn=1486612696&pnl=1094,1094,1094,271&ext=m3u8&termid=1&hwtype=un&playid=1&sign=live_web&ostype=Windows7&p1=1&p2=10&p3=-&uuid=0_0&vkit=20160719&station=224&tm=1486612697&key=e06bf2705961c3a8bb3ad07cef8e2f70">
        </video>
    </div>
</div>

</body>
</html>